page-onboarding {
    .imgSplash{
        top:0px;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }

    .slideXtra{
        top: 30%;
        position: absolute;
        color: rgb(97, 24, 97);  
        margin: auto; 
        width: 100%;
        
        .h2Xtra{
            display: block;
            margin: auto;
            text-align: center;
        }
    }

    div.spin{
        position: absolute;
        z-index: 100;
        display: block;
        margin-left: 40%;
    }

    .sliderBottom{
        position: absolute;
        z-index: 999;
        bottom: 100px;
        width: 100%;
        .infoSkip{
            color: rgb(97, 24, 97);
            display: block;
            margin: auto;
            text-align: center;
            font-size: 14px;
        }
    }
    
    .backDropSlider{
        bottom: 42px;
        display: block;
        margin-left: 5%;
        width: 90%;
        height: 30px;
        background-color: rgb(59, 5, 48);
        position: absolute;
        opacity: 1;
        border-radius: 100px;
    }

    ion-slides{
        background-color: rgb(255, 254, 254);;
        ion-slide{
            h3{
                color: rgb(97, 24, 97);
            }
            p{
                color: rgb(97, 24, 97);
                font-size: 14px;
            }

            ul {
                margin: 0px;
                padding: 0px;
                li{
                    display: inline-block;
                    color: rgb(97, 24, 97);
                    padding: 5px;
                    ion-icon{
                        font-size: 30px;
                        
                    }
                }
            }
        }
    }
    
    ion-icon.infoIcon{
        font-size: 40px;
        color: rgb(97, 24, 97);
    }
  
    .swiper-pagination-bullet-active{
        background-color: rgb(252, 252, 252);
    }

    .swiper-pagination-bullet{
        background-color: rgb(216, 213, 216);
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 50px;
    }
}
