page-modal {
    ion-title{
        text-align: center;
    }  
}

// Andriod only  
.md{
        .modalBack{
            color: white;
            margin-top: -20px;
            position: absolute;
        }
        .tophead{
            width: 100%;
            height: 57px;
            background-color: blue;
        }
    }