<ion-header>
  <ion-navbar>
    <ion-title>My Favourites<ion-icon class="searchIcon" (click)="goToSearchPage()" ios="ios-search" md="md-search"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-spinner name='dots' class="cardImg"></ion-spinner>
  </ion-refresher>
  <div *ngIf="isEmpty" class="animated bounceInLeft">
    <h2>Welcome to your Favourites List</h2>
    <h3>No Listings Found</h3>
    <p>
      To add a Listing to your Favourites list select the heart icon
      <ion-icon class="heart animated infinite pulse" ios="ios-heart" md="md-heart"></ion-icon> on a listings page.
      Simply tap the heart icon again to remove the listing from your Favourites list.
    </p>
  </div>
  
  <div *ngIf="!isEmpty">
    <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-6 *ngFor="let item of list" 
              (click)="itemTapped($event, item)">  
              <ion-card class="listCard round animated bounceInLeft">
              <img src="{{item.imagePath}}" class="cardImgList"/>
              <span>{{item.title}}</span>
            </ion-card> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
<footer></footer>