<ion-header>
  <ion-navbar>
    <ion-title>Useful Contacts<ion-icon class="searchIcon" (click)="goToSearchPage()" ios="ios-search" md="md-search"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="animated slideInUp"> 
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-spinner name='dots' class="cardImg"></ion-spinner>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-4 *ngFor="let item of list.data">  
          <ion-card class="round">
              <ion-avatar item-start>
                <img src="{{avatar}}" class="avatar"/>
                <h2>{{item.name}}</h2>
                <ion-icon ios="ios-map" md="ios-map-outline" (click)="openModal(item.latitude,item.longitude,item.address)"></ion-icon>
                <div class="more">
                  <hr>
                  <p>{{item.address}}</p>
                  <div *ngIf="phone != '' ">
                      Phone: <a href={{phoneNumberLink}}{{item.phone}} class="button button-positve">{{item.phone}}</a>
                  </div>
                </div>
              </ion-avatar>
          </ion-card> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
