<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="list" class="animated slideInUp">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card class="round"
          *ngFor="let item of list.Subcategories" 
          (click)="itemTapped($event, item)"
        >
          <img src="{{item.image}}" class="cardImg"/>
          <ion-card-content>
            <ion-card-title>
              {{item.title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
