page-view-listing {

}

.mediaLinks{
    float: right;
    color: #3b0d44;
    padding: 0px;
    height: 20px;
}

.mediaLinks ul li{
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
}

ion-icon{
    font-size: 25px;
}

.likeBTN{
    position: absolute;
    right: 40px;
    margin-top:-27px;
}

.like,
.heart{
    color: #3b0d44;
    font-size: 27px;
}

.txt{
    color: black;
}

.xtra{
    font-size: 12px;
}

.DISLIST {
    display: block;
    margin: auto;
    width: 90%;
}
.DISLIST ul li{
    display: inline-block;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    ion-icon{
        color: rgb(56, 18, 56);
    }
    font-size: 12px;
}
.DISLIST ul{
    left:0px;
    padding: 0px;
}