<ion-header>
  <ion-navbar>
    <ion-title>{{title}}<ion-icon class="searchIcon" (click)="goToSearchPage()" ios="ios-search" md="md-search"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="list" class="animated slideInUp"> 
    <br />
    <br />
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-spinner name='dots' class="cardImg"></ion-spinner>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-4 *ngFor="let item of list.cards"
          (click)="itemTapped($event, item)">  
        <ion-card class="round">
          <img src="{{item.image}}" class="cardImg"/>
          <ion-card-content>
            <ion-card-title>
              <h2>{{item.name}}</h2>
              <p *ngIf="item.likes != 0">Likes: {{item.likes}}</p>
            </ion-card-title>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
