<div *ngIf="showSplash" class="splash"> 
  <div class="spinnerSplash">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>


<ion-menu [content]="content" >
  <ion-content >
    <ion-list>
      <div >
        <h2 class="hT animated zoomIn">Visit Carlow</h2>
        <img src='assets/imgs/dolmen.jpg' class='vcImg'>
      </div>

      <div class="animated fadeInLeft">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <img src='assets/imgs/home-icon.png' class='iconList'/>
            <span class='listTextIcon'>{{p.title}}</span>
        </button>
        <div menuClose ion-item *ngFor="let item of list">
            <div (click)="itemTapped($event,item.title)" class="animated fadeInLeft btnNav">
              <img src='{{item.icon}}' class='iconList'/>
              <div class='listTextIcon'>{{item.title}}</div>
            </div>
        </div>
      </div>

    </ion-list>
    <div class="vcMedia">
        <p>Vist Carlow Media</p><br />
        <ul >
          <li>
            <div (click)="openWebBrowser('website')"> 
              <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
            </div>
          </li>
          <li>
            <div (click)="openWebBrowser('faceBook')">
              <ion-icon name="logo-facebook"></ion-icon>
            </div>
          </li>  
          <li>
            <div (click)="openWebBrowser('twitter')">
              <ion-icon name="logo-twitter"></ion-icon>
            </div>
          </li>
          <li>
            <div (click)="openWebBrowser('instagram')"><ion-icon name="logo-instagram"></ion-icon></div>
          </li>
        </ul>
        <div class="ancientEast">
          <p>In assocation with</p>
            <img src='assets/imgs/IrelandsAncientEast-REG_Logo-Tagline_Col.png'>
        </div>
    </div>
  </ion-content>
  

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>