// App Global Sass
*{
    font-family:Palatino, Verdana, sans-serif;
}

@keyframes example {
    from {opacity: 1;}
    to {opacity: .2;}

    from {opacity: .2;}
    to {opacity: 1;}
}

ion-refresher{     
    padding-top:25px;
    img{
        margin-top: 10px;
        width: 35px;
        display: block;
        margin: auto;
        border-radius: 100px;
       
    }
}

.input-wrapper:active,
ion-icon:active,
ion-card:active,
a:active{
    animation-name: example;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
}


.vcMedia{
    padding-top: 20px;
    background-color: rgb(236, 236, 236);
    
    p{
        display: block;
        margin: auto;
        width: 150px;
        text-align: center;
        color: rgb(77, 77, 77); 
        font-size: 12px;
    }

    ul{
        width: 70%;
        display: block;
        margin: auto;
        li{
            display: inline-block;
            padding-right: 10px;
            color: rgb(61, 13, 61);
        }
    }
    .ancientEast{
        
        padding-top: 20px;
        display: block;
        margin: auto;
        width: 150px;
        img{
            width: 150px;
        }
    }
   
}

ion-label{
    overflow: visible;
}

.headerTitle{
    text-shadow: 1px 2px 1px black;
}

.haederImg{
    position: absolute;
    left:0;
    margin-top: -25px;
    opacity: 0.3;
}

.clover{
    width: 30px;
    height: 30px;
    margin-left:20px;
}

.iconList{
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top:-5px
}

.listTextIcon{
    margin-left:50px;
}

.hT{
    position: absolute;
    color:#fff;
    margin-left: 90px;
}

.vcImg{
    height: 180px;
    min-width: 100%;
}

img.cardImg{
    height: 150px;
}

ion-card-title{
    text-align: center;
}

.round{
    border-radius: 5px;
    //flex-wrap: nowrap;
}

.viewListingInfo{
    width: 80%;
    display: block;
    margin: auto;
    text-align: justify;
    font-size: 16px;
    line-height: 2;
}

.viewListHeader{
    background-color: blanchedalmond;
}

ion-card{
    
    .cardImgList{
        width: 100px;
        height: 80px;
    }
    span{
        margin-left: 35%;
        margin-top:-50px;
        position: absolute;
        font-size: 14px;
    }
}

.searchIcon{
    float:right;
}

.noResults{
    color: rgb(187, 185, 185);
    padding-top:20px;
    display: block;
    margin:auto;
}