<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-spinner name='dots' class="cardImg"></ion-spinner>
  </ion-refresher>
  <ion-searchbar (ionInput)="filterData($event)">
  </ion-searchbar>
  <div *ngIf="!isEmpty">
    <ion-grid>
        <ion-row>
          <div class="noResults" *ngIf="searchList == ''">
            <p>Can't Find what you're looking for?</p>
            <p class="tryVCWeb" (click)='openLink()'>
              Try www.visitcarlow.ie
            </p>
          </div>
          <ion-col col-12 col-md-6 *ngFor="let item of searchList" 
              (click)="itemTapped($event, item)">  
              <ion-card class="listCard round animated bounceInUp">
              <img src="{{item.image}}" class="cardImgList"/>
              <span>
                {{item.title}}
                <p class="searchLikes" *ngIf="item.likes > 0">Likes {{item.likes}}</p>
              </span>
            </ion-card> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
