<ion-header>
  <ion-navbar>
    <ion-title>Popular<ion-icon class="searchIcon" (click)="goToSearchPage()" ios="ios-search" md="md-search"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="list" class="animated slideInUp"> 
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-spinner name='dots' class="cardImg"></ion-spinner>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-4 *ngFor="let item of list.popular"
            (click)="itemTapped($event, item)">  
          <ion-card class="round">
            <img src="{{item.imagePath}}" class="cardImg"/>
            <ion-card-content>
              <ion-card-title>
                <h2>{{item.title}}</h2>
                <p>Likes: {{item.likes}}</p>
              </ion-card-title>
            </ion-card-content>
          </ion-card> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
