<ion-header>
  <ion-navbar>
    <ion-title>Comments
      <div class="LOGIN" (click)="goToLogin()">
        <div *ngIf="isLoggedIn">LogOut</div>
        <div *ngIf="!isLoggedIn">LogIn</div>
      </div>
    </ion-title>
    <ion-icon class="modalBack" ios="ios-arrow-back" md="md-arrow-back" (click)="closeModal()"></ion-icon>
  </ion-navbar>
</ion-header>


<ion-content padding>





<div *ngIf="!hasCommentted">
  <ion-icon class="canCommentIcon" *ngIf="isLoggedIn" ios="ios-chatbubbles" md="md-chatbubbles" (click)="commentToggle()"></ion-icon>
  <div *ngIf="userComment" class="backdrop"></div>
  <div *ngIf="userComment" class="fornt animated fadeInDown">
    <ion-item>
      <ion-label floating>Comment</ion-label>
      <ion-textarea rows="4" maxLength="100" [(ngModel)]="user.comment" name="comment"></ion-textarea>
    </ion-item>
    <div>
      <ul class="stars sPos">
          <li *ngFor="let in of counter(user.rating)">
            <ion-icon ios="ios-star" md="md-star" class="animated fadeIn"></ion-icon>
          </li>
      </ul>
    </div>
    <ion-item>  
      <ion-label floating>Rating</ion-label>
      <ion-range [(ngModel)]="user.rating" (ngModelChange)="user.rating = $event" name="rating" min="1" max="5" color="secondary" pin="true"></ion-range>
    </ion-item>
    <br />
    <button ion-button (click)="comment(user)" class="SLbtn">Comment</button> 
  </div>
</div>


  <div *ngIf="!logInSelected" class="animated fadeIn">
   <div>
      <ion-item *ngFor="let item of commentsList" >


      <div> 
        <div>
          <ul class="stars animated fadeInRight">
              <li *ngFor="let in of counter(item.rating)">
                <ion-icon ios="ios-star" md="md-star"></ion-icon>
              </li>
          </ul>
        </div>
        <div (click)="toggelReportOption()" class="commentText animated fadeInLeft">{{item.comment}}</div><br />
        <p class="date animated fadeIn">
          {{item.datatime | date: 'longDate'}}
          <span class="commentLikes">
            <ion-icon (click)="likeComment(item.id)" ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
            {{item.likes}}
          </span>
        </p>
        <div *ngIf="isLoggedIn">
          <p *ngIf="TReport" class="report" (click)="report(item.id)">Report</p>
        </div>
      </div> 


      </ion-item>
    </div>
    <div class="noComments" *ngIf="numOfComments < 1">
      <p>No Comments posted</p>
      <p>Be the first to Comment and rate this listing</p>
    </div>
  </div>
  <div *ngIf="logInSelected" class="animated fadeIn log">
    <ion-icon class="close" ios="ios-backspace" md="md-backspace" (click)="close()"></ion-icon>
    <br /><br />
    <div class="SloginB">
      <p>Social Login</p>
      <button ion-button block (click)="logInGoogle()" class="SLbtn1">
        With Google
        <ion-icon ios="logo-google" md="logo-google" class="SL"></ion-icon>
      </button>
    </div>
    <br />
    <div class="SloginA">
      <p>My account</p>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <br />
      <button ion-button (click)="logIn(user)" class="SLbtn">LogIn</button>
      <button ion-button color="light" (click)="register()">Register</button>
    </div>  
  </div>

</ion-content>