page-comments {
    .LOGIN{
        width: 65px;
        float: right;
    }

    .SL{
        right: 25px;
        top: 5px;
        position: absolute;
    }

    .ion-md-close:before {
        position: absolute;
        right: 25px;
        font-size: 20px;
    }
}
