page-comments {


    .SloginB{
        //background-color: #f1eef1;
        height: 100px;
        padding: 5px;
    }

    .SloginA{
       // background-color: #f1eef1;
        height: 260px;
        padding: 5px;
    }

    .LOGIN{
        width: 65px;
        float: right;
    }

    .SL{
        right: 25px;
        top: 5px;
        position: absolute;
    }

    .ion-md-close:before {
        position: absolute;
        right: 25px;
        font-size: 20px;
    }

    .toolbar-title-md {
        padding-left: 52px;
    }

    ion-icon::before {
        padding-left: 20px;
        margin-top: -10px;
    }

}
